@import url('../../.cache/wal/colors-waybar.css');

window {
  background-color: alpha(@background, 0.6);
}

button {
  color: @foreground;
  background-color: transparent;
  box-shadow: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  border-radius: 100px;
}

button:hover, button:focus {
  color: @foreground;
  background-color: @color4;
  background-size: 40%;
}

#suspend {
  background-image: image(url("suspend.png"));
}

#shutdown {
  background-image: image(url("shutdown.png"));
}

#logout {
  background-image: image(url("logout.png"));
}

#reboot {
  background-image: image(url("restart.png"));
}


#logout, #suspend, #shutdown, #reboot {
  margin: 100px 10px;
}
