@import url('../../.cache/wal/colors-waybar.css');

window {
  background-color: alpha(@background, 0.6); /* Background blur */
}

button {
  color: @foreground;
  background-color: transparent;
  box-shadow: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%; /* Icon size */
  border-radius: 100px; /* Corner roundness of selection */
}

button:hover, button:focus {
  color: @foreground;
  background-color: @color4; /* Color of icon background when selected */
  background-size: 40%; /* Icon size when selected */
}

#suspend {
  background-image: image(url("suspend.png"));
}

#shutdown {
  background-image: image(url("shutdown.png"));
}

#logout {
  background-image: image(url("logout.png"));
}

#reboot {
  background-image: image(url("restart.png"));
}


#logout, #suspend, #shutdown, #reboot {
  margin: 250px 40px; /* Vertical size, horizontal size */
  /*margin: 50px 10px; <- I use this values in my laptop (smaller screen)*/
}
