window {
  background-color: alpha(#181616, 0.9); /* Background blur */
}

button {
  color: #c5c9c5;
  background-color: transparent;
  box-shadow: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%; /* Icon size */
  border-radius: 80px; /* Roundness of selection */
  margin: 120px 10px;
}

button:hover,
button:focus {
  color: #c5c9c5;
  background-color: #e6c384; /* Color of icon background when selected */
  background-size: 50%; /* Icon size when selected */
}

#suspend {
  background-image: image(url("suspend.png"));
}

#shutdown {
  background-image: image(url("shutdown.png"));
}

#logout {
  background-image: image(url("logout.png"));
}

#reboot {
  background-image: image(url("restart.png"));
}
