@import url('../../../.cache/wal/colors-waybar.css');

/* ========================================
   VARIABLES
   ======================================== */
@define-color text @color15;
@define-color mycolor @color9;
@define-color critical-bg #ffb4a9;
@define-color critical-text #680003;

/* ========================================
   GLOBAL STYLES
   ======================================== */
* {
  outline: none;
  font-family: "JetBrainsMono Nerd Font";
}

/* ========================================
   NOTIFICATIONS - BASE STYLES
   ======================================== */
.notification {
  background: alpha(@mycolor, 0.3);
}

.notification-content {
  padding: 5px;
}

.notification widget:hover {
  background: alpha(@mycolor, 0.2);
}

/* ========================================
   NOTIFICATIONS - CONTROL CENTER
   ======================================== */
.control-center .notification-row .notification-background {
    background: transparent;
  }

.control-center .notification-row .notification-background .notification {
  margin-top: 0.150rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  background: alpha(@mycolor, 0.3);
}


.control-center .notification-row .notification-background .notification box,
.control-center .notification-row .notification-background .notification widget,
.control-center .notification-row .notification-background .notification .notification-content {
  border-radius: 0.818rem;
}

.control-center .notification-background .notification .notification-content {
  padding-top: 0.818rem;
  padding-right: unset;
  margin-right: unset;
}

.control-center .notification-default-action:hover {
    background-color: unset;
}

/* ========================================
   NOTIFICATIONS - FLOATING
   ======================================== */
.floating-notifications.background {
  background: transparent;
}

.floating-notifications .notification-row .notification-background .notification box,
.floating-notifications .notification-row .notification-background .notification widget,
.floating-notifications.background .notification-background .notification .notification-content {
  border-radius: 0.818rem;
}

.floating-notifications.background .notification-background .notification .notification-content {
  padding-top: 0.818rem;
  padding-right: unset;
  margin-right: unset;
}

.floating-notifications .notification-default-action:hover {
    background-color: unset;
}

.floating-notifications .notification-default-action {
  background-color: transparent;
}

/* ========================================
   NOTIFICATIONS - CONTENT BY PRIORITY
   ======================================== */
.control-center .notification-row .notification-background .notification.low .notification-content label,
.control-center .notification-row .notification-background .notification.normal .notification-content label,
.floating-notifications.background .notification-background .notification.low .notification-content label,
.floating-notifications.background .notification-background .notification.normal .notification-content label {
  padding: 10px;
}

.control-center .notification-row .notification-background .notification.low .notification-content image,
.control-center .notification-row .notification-background .notification.normal .notification-content image,
.floating-notifications.background .notification-background .notification.low .notification-content image,
.floating-notifications.background .notification-background .notification.normal .notification-content image {
  background-color: unset;
}

.control-center .notification-row .notification-background .notification.low .notification-content .body,
.control-center .notification-row .notification-background .notification.normal .notification-content .body,
.floating-notifications.background .notification-background .notification.low .notification-content .body,
.floating-notifications.background .notification-background .notification.normal .notification-content .body {
  color: @text;
}


.control-center .notification-row .notification-background .notification.critical .notification-content,
.floating-notifications.background .notification-background .notification.critical .notification-content {
  background-color: @critical-bg;
}

.control-center .notification-row .notification-background .notification.critical .notification-content image,
.floating-notifications.background .notification-background .notification.critical .notification-content image {
  background-color: unset;
  color: @critical-bg;
}

.control-center .notification-row .notification-background .notification.critical .notification-content label,
.floating-notifications.background .notification-background .notification.critical .notification-content label {
  color: @critical-text;
}

/* ========================================
   NOTIFICATIONS - TEXT STYLES
   ======================================== */
.control-center .notification-row .notification-background .notification .notification-content .summary,
.floating-notifications.background .notification-background .notification .notification-content .summary {
  font-size: 0.9909rem;
  font-weight: 500;
}

.control-center .notification-row .notification-background .notification .notification-content .time,
.floating-notifications.background .notification-background .notification .notification-content .time {
  font-size: 0.8291rem;
  font-weight: 500;
  margin-right: 1rem;
  padding-right: unset;
}

.control-center .notification-row .notification-background .notification .notification-content .body,
.floating-notifications.background .notification-background .notification .notification-content .body {
  font-size: 0.8891rem;
  font-weight: 400;
  margin-top: 0.310rem;
  padding-right: unset;
  margin-right: unset;
}

/* ========================================
   CLOSE NOTIFICATION BUTTON
   ======================================== */
.control-center .notification-row .close-button,
.floating-notifications.background .close-button {
  all: unset;
  background-color: unset;
  border-radius: 0%;
  border: none;
  box-shadow: none;
  margin-right: 0px;
  margin-top: 3px;
  margin-bottom: unset;
  padding-bottom: unset;
  min-height: 20px;
  min-width: 20px;
  text-shadow: none;
  color: @text;
}

.control-center .notification-row .close-button:hover,
.floating-notifications.background .close-button:hover {
  all: unset;
  background-color: @bg;
  border-radius: 100%;
  border: none;
  box-shadow: none;
  margin-right: 0px;
  margin-top: 3px;
  margin-bottom: unset;
  padding-bottom: unset;
  min-height: 20px;
  min-width: 20px;
  text-shadow: none;
  color: @text;
}
